
.titulo_principal{
    padding-left: 30px;
}


#banner{
    width: 100%
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo{
    text-align: center;
    height: 150px;
    border: 10px solid #000000;
    padding: 20px;
    margin: 40px;
}

p{
    text-align: center;
}

#mision{
    font-size: 20px;
}

strong em{
    color: red
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.centrado{
    text-align: center;
}

.items{
    font-style: italic;
    font-size: 30px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}